@import "vars";
@import "mixins";
.wrap {
  overflow: hidden;
  .header {
    color: #0a0a0a;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;

    &-layout {
      width: 172.8rem;
      max-width: 96.5%;
      position: relative;
      padding: 0 32px;
      .header-other {
        position: relative;
        display: flex;
        justify-content: space-between;
        ul {
          display: flex;
          li {
            padding: 0 10px;
          }
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
          position: absolute;
          top: 25px;
        }
      }
      .header-main {
        margin: 20px;
        display: flex;

        .gnb {
          display: flex;
          justify-content: center;
          .list {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            > li {
              padding: 20px;
              height: 100%;
            }
          }
        }
      }
    }
    .gnb {
      &:hover .depth {
        display: flex;
        color: black;
        &-title {
        }
      }
      .depth {
        background-color: white;
        height: 300px;
        width: 100%;
        position: absolute;
        top: 100%;
        display: none;
        &-title {
          width: 30px;
          display: flex;
          display: flex;
          border-right: 1px solid #000;
          width: 200px;
          height: 100%;
        }
      }
    }
  }
}
