@import "vars";
@import "mixins";
.wrap {
  overflow: hidden;
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    &-layout {
      width: 172.8rem;
      max-width: 100%;
      position: relative;
      padding: 0 32px;
      .header-other {
        position: relative;
        display: flex;
        justify-content: space-between;
        ul {
          display: flex;
          li {
            padding: 0 10px;
          }
        }
      }
      .header-main {
        display: flex;
        nav {
          ul {
            display: flex;
            align-items: center;
            height: 100%;
            > li {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
