@import "vars";
@import "mixins";
main {
  .main-visual {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      aspect-ratio: 1/0.5625;
      object-fit: cover;
      z-index: -1;
    }
  }
}
