body {
  font-size: 30px;
  color: yellowgreen;
  font-family: "Noto Sans KR", "TTTtangsbudaejjigaeB";
  font-weight: 400;
  /* 몇 몇 태그들은 부모의 속성을 물려받지 않는 것들도 있다. */
}
a {
  text-decoration: none;
  color: inherit;
  font-family: Georgia, "Times New Roman", Times, serif;
}
