body {
  background-color: #000;
}
.header {
  background-color: #fff;
  font-size: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer {
  margin: 100px 30px;
  ul {
    display: flex;
    justify-content: center;
  }
}
.human {
  ul {
    display: flex;
    justify-content: center;
    li {
      img {
        width: 80px;
      }
    }
  }
}
.result {
  margin-top: 50px;
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.win {
        background-color: #1b2ed8;
      }
      &.draw {
        background-color: #1add14;
      }
      &.lose {
        background-color: #eb0909;
      }
    }
  }
}
.footer {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  p {
    background-color: #fff;
    color: #111;
    padding: 10px 30px;
    border-radius: 100px;
  }
}
.cover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}
