@charset "UTF-8";
body {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans", "TTTtangsbudaejjigaeB";
  font-weight: 400;
  min-height: 2000px;
  /* 몇 몇 태그들은 부모의 속성을 물려받지 않는 것들도 있다. */
}

a {
  /*부모의 속성을 상속받지 않는 태그들을 상속하려면 inherits 을 쓴다*/
  text-decoration: none;
  color: inherit;
  font-family: Times, serif;
}

.container {
  width: 1430px;
  /* margin-left: auto;
    margin-right: auto; */
  margin: 0 auto;
  position: relative;
  /* outline: 1px solid #f00; */
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

strong {
  font-weight: 300;
}

p {
  line-height: 1.5;
}