.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  color: #fff;
  transition: all 0.5s ease;
}
.header .logo a {
  height: 80px;
  padding: 0 50px;
}
.header .logo a img {
  position: absolute;
  width: 150px;
  height: 50px;
  opacity: 0;
  transition: all 0.5s ease;
}
.header .logo a img.white {
  opacity: 1;
}
.header.on {
  color: #111;
  background-color: #fff;
}
.header.on .logo img.white {
  opacity: 0;
}
.header.on .logo img.black {
  opacity: 1;
}
.header .gnb .list {
  display: flex;
  justify-content: end;
  font-size: 18px;
}
.header .gnb .list li a {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  font-size: 24px;
  font-weight: 500;
  box-sizing: border-box;
}