.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  color: #fff;
  z-index: 99;
}
.header.on {
  color: #111;
  background-color: #fff;
}
.header.on .logo img.white {
  opacity: 0;
}
.header.on .logo img.black {
  opacity: 1;
}
.header .logo a img {
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  opacity: 0;
}
.header .logo a img.white {
  opacity: 1;
}
.header .gnb .list {
  display: flex;
  justify-content: end;
  font-size: 18px;
  padding: 50px;
}
.header .gnb .list li a {
  padding: 10px;
}