body {
  background-color: #000;
}

.header {
  background-color: #fff;
  font-size: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer {
  margin: 100px 30px;
}
.computer ul {
  display: flex;
  justify-content: center;
}

.human ul {
  display: flex;
  justify-content: center;
}
.human ul li img {
  width: 80px;
}
