@import "vars";
@import "mixins";
.main {
  &-visual {
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .mask {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .list {
        li {
          .img {
            height: 100vh; // 모니터 크기의 100%
            background-repeat: no-repeat;
            background-size: cover;
          }
          .txt {
            position: absolute;
            top: 60%;
            left: 200px;
            line-height: 1.5;
            color: #fff;
            .main {
              font-size: $h2;
              font-weight: 700;
              line-height: 1.2;
              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: #ffffff;
                margin: 20px 0;
              }
            }

            .sub {
              font-size: $h4;
            }
          }
          @for $i from 1 to 6 {
            &.visual0#{$i} .img {
              //loop쓸때 nth-child()를 쓰면 정렬이 흐트러짐
              background-image: url("../images/main/visual0#{$i}.jpg");
            }
          }
        }
      }
      .btns {
        position: absolute;
        left: 200px;
        bottom: 50px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background-color: $main-color;

        .pagination {
          width: auto;

          color: #fff;
          font-size: $h3;
          font-family: "Noto Sans KR";
          padding: 0 20px;
          height: 100%;
        }

        button {
          background-color: transparent;
          border: none;
          border-radius: 100px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
// .main-visual video {
//   width: 100%;
//   height: 300%;
//   object-fit: cover;
// }
/* viewport-height */

.business {
  padding-bottom: 30px;

  .list {
    display: flex;
    color: #111;
    li {
      width: 25%;
      position: relative;
      &:hover {
        .img-box {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @for $i from 1 to 5 {
        //보간(interpolation)
        &:nth-child(#{$i}) a::before {
          background-image: url("../images/main/main_business_icon0#{$i}.png");
        }
      }

      a {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // outline: 1px solid #f60;
        aspect-ratio: 1/1.3;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100px;
          // background-color: #ccc;
          background-repeat: no-repeat;
          background-position: 50% 0;
        }
      }

      .img-box {
        //display: none;
        pointer-events: none;
        opacity: 0;
        transform: translateY(100px);
        position: absolute;
        top: 0;
        transition: all 0.25s ease;
        .text {
          position: absolute;
          color: #fff;
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: 1.5;
          h3 {
            //   font-size: (24px + 4px);
            //   font-weight: 500;
            //   margin: {
            //     left: 20px;
            //     top: 20px;
            //   }
            font: {
              size: (24px + 4px);
              weight: 500;
            }
            p {
              font-size: 20px;
            }
            margin: 20px;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
.master-piece {
  position: relative;
  .subject {
    padding: 150px 0 250px;
    background-image: url("../images/main/main_master_img01.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    .main {
      font-size: $h1;
    }
  }
  .case {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .menu {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: $h3;
      li {
        width: 20%;
        padding: 50px 0;
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        cursor: pointer;
        transition: all 0.25s ease;
        position: relative;
        span {
          transition: all 0.25s ease;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }
        &::after {
          font-family: "Material Icons";
          content: "\e8e4";
          display: block;
          position: absolute;
          right: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: $main-color;
          border-right-color: $main-color;
          span {
            left: 30px;
            transform: translate(0, -50%);
          }
          &::after {
            opacity: 1;

            right: 30px;
          }
        }
      }
    }

    .contents {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 100%;

      // background-color: #f60;
      li {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        &.on {
          opacity: 1;
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            background-image: url("../images/main/main_master_hover0#{$i}.jpg");
          }
        }
        .container {
          height: 100%;
          color: #fff;
          display: flex;
          justify-content: end;
          align-items: center;

          h3 {
            font-size: $h1;
            font-weight: 700;
            margin-top: 20px;
          }
          p {
            font-size: $h3;
          }
        }
      }
    }
  }
}
//master-piece end
.news-room {
  .list {
    display: flex;
    justify-content: space-between;
    li {
      width: calc(33.33% - 20px);
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      a {
        .img-box {
          overflow: hidden;
        }
      }
      a {
        &:hover img {
          transform: scale(1.25);
        }
        img {
          width: 100%;
          transition: all 0.25s ease;
        }
        h3 {
          font-size: $h4;
          margin: 20px 0;
          line-height: 1.15;
        }
      }
    }
  }
}
.social {
  overflow: hidden;
  .list {
    li {
      a {
        .img-box {
          position: relative;
          img {
            width: 100%;
          }
          .icon {
            width: 40px;
            height: 40px;
            background-color: #fff;
            position: absolute;
            right: 20px;
            bottom: 20px;
            border-radius: 100px;

            background-position: 50%;
            background-repeat: no-repeat;
            &.blog {
              background-image: url("../images/main/social_blog.png");
            }
            &.youtube {
              background-image: url("../images/main/social_youtube.png");
            }
          }
        }
        h3 {
          font-size: 18px;
          line-height: 1.25;
          margin-top: 20px;
        }
      }
    }
  }
  .controlbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
  }

  .btns {
    display: flex;
    justify-content: end;
    margin-left: 20px;

    button {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 100px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }
  .pagination {
    position: relative;
    flex-grow: 1; // 여백 나누기.. 남아있는 여백을 비율만큼 가져감
    //width: 70%;
    .swiper-pagination-progressbar-fill {
      background-color: $main-color;
    }
  }
}
.banner {
  //
  display: flex;
  color: #fff;
  > div {
    padding: 50px 0;
    display: flex;
    width: 50%;
    .inner {
      width: 600px;
      // border: 1px solid #f00;
    }
  }
  .forena {
    background-image: url(../images/main/bg_img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: end;
    h2 {
      // text-transform: uppercase; //대문자로 출력
      // letter-spacing: 20px; //글자간 간격
      margin-bottom: 0;
    }
    s p {
      font-size: $h4;
    }
  }
  .util-menu {
    background-image: url(../images/main/bg_img02.jpg);
    .inner {
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      align-items: center;
      h2 {
        span {
          font-size: $h3;
          display: block;
          margin-top: 40px;
        }
      }
      ul {
        li {
          a {
            display: block;
            padding: 10px 0;
            font-size: $h4;
            border-bottom: 1px solid #fff;
            width: 200px;
            display: flex;
            justify-content: space-between;
          }
          &::after {
            @include icon("\e5cc");
          }
        }
      }
    }
  }
}
//똑같은 걸 반복한다면 함수를 만들면 된다.
.more {
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  align-items: center;
  &:after {
    @include icon("\e5cc");
    display: block;
    margin-top: 3px;
  }
}
