@mixin icon($code) {
  font-family: "Material Icons";
  content: $code;
}
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin multiEllipsis($line: 3, $linHeight: 1.5) {
  line-height: $linHeight;
  height: $line * $linHeight * 1em;
  overflow: hidden;
  display: -webkit-box;
  // border: 1px solid #f00;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@mixin longShadow($limit: 30, $shadowColor: rgba(0, 0, 0, 0.1)) {
  $shadow: "";
  @for $i from 0 to $limit {
    $shadow: $shadow + $i + "px " + $i + "px 0px " + $shadowColor + ",";
  }
  $shadow: $shadow + $limit + "px " + $limit + "px 0px " + $shadowColor;
  $shadow: unquote($shadow);
  text-shadow: $shadow;
}
