@import "vars";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  color: #fff;
  z-index: 99;

  &.on {
    color: #111;
    background-color: #fff;
    .logo {
      img {
        &.white {
          opacity: 0;
        }
        &.black {
          opacity: 1;
        }
      }
    }
  }
  .logo a {
    img {
      position: absolute;
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 30px 30px;
      opacity: 0;
      &.white {
        opacity: 1;
      }
    }
  }
  .gnb {
    .list {
      display: flex;
      justify-content: end;
      font-size: 18px;
      padding: 50px;

      li {
        a {
          padding: 10px;
        }
      }
    }
  }
}
