@import "vars";
@import "mixins";
.main {
  &-visual {
    iframe {
      position: absolute;
      width: 100%;
      aspect-ratio: 1 / 0.5625;
      //height: 100vh;
      // object-fit: cover; // img, video파일에만 사용가능
    }

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #00f;
      height: 100vh;

      h2 {
      }
    }
  }
}
